$font_size: 16px;

$color_light: #ffffff;
$color_dark: #16161d;
$color_primary: #c9431a;

$margin: 0.25rem;
$padding: 0.25rem;

$steps: 8;
$columns: 12;

$breakpoints: (
    small: 438px,
    mobile: 768px,
    tablet: 992px,
    desktop: 1200px
);

$directions: (
    t: "top",
    b: "bottom",
    l: "left",
    r: "right"
);
